asgiref==3.3.1
Django==3.1.4
django-filter==2.4.0
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
future==0.18.2
Markdown==3.3.3
mysqlclient==2.0.1
PyJWT==1.7.1
pytz==2020.4
Serializer==0.2.1
serializers==0.2.4
simplejson==3.17.2
sqlparse==0.4.1
